services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
    env_file:
      - .env

  qdrant:
    image: qdrant/qdrant:v1.14.1
    ports:
      - "6333:6333"
    environment:
      - QDRANT__SERVICE__HTTP_PORT=6333
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:6333/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: on-failure
    volumes:
      - qdrant_db:/qdrant/storage

volumes:
  qdrant_db:
